<nav>
        <div class="navbar flex">
            <div class="projectname"><img class="flex justify-content-center align-item-center"
                    src="image/Screenshot 2025-10-10 195333.png" alt=""></div>
                    
            <div class="searchbar flex justify-content-center align-item-center ">
                <span class="material-symbols-outlined" style="font-size: 18px;">
                    search
                </span>
                <input type="text" id="search" placeholder="Search Here" class="noned">
            </div>

            <div class="nav">
                <ul>
                    <li class="flex justify-content-center align-item-center arial"><a href="/">Home</a><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="20"
                            color="#000000" fill="none">
                            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="#141B34"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg></li>
                    <li class="flex justify-content-center align-item-center arial"><a href="/aboutus">About</a><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="20"
                            color="#000000" fill="none">
                            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="#141B34"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg></li>
                    <li class="flex justify-content-center align-item-center arial"><a href="/Contactus">Contact</a><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="20"
                            color="#000000" fill="none">
                            <path d="M18 9.00005C18 9.00005 13.5811 15 12 15C10.4188 15 6 9 6 9" stroke="#141B34"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg></li>
                </ul>
            </div>

            <button class="loginbtn">LOGIN<span class="material-symbols-outlined" style="font-size: 18px;">
                    login
                </span></button>

        </div>
    </nav>