<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/aboutus.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Document</title>
</head>

<body>
    <%- include('partials/navbar')  %>

    <div class="aboutuscontent">
        <div class="title">
            <span class="t1">Who</span>
            <span class="t2">We are</span>
        </div>
        <div class="line"></div>
        <div class="aboutusoutline fontauto">
            <div>We are a team of students dedicated to creating innovative solutions that contribute to a cleaner and
                smarter
                environment. Our project focuses on monitoring and analyzing Air Quality and Traffic Density in urban
                areas
                using data-driven and AI-based techniques.</div>

            <div>The main objective of our work is to establish a correlation between traffic patterns and air pollution
                levels,
                providing valuable insights for better city planning and pollution control. By integrating real-time
                data
                from
                sensors and environmental parameters, our system can help authorities and citizens make informed
                decisions
                for
                sustainable urban living.</div>
            <div>Through this project, we aim to promote environmental awareness, encourage smart mobility, and
                contribute
                to
                the development of eco-friendly cities. Our vision is to use technology not just to observe problems—but
                to
                create impactful solutions that improve everyday life.</div>
        </div>
    </div>

    <div class="flex">
        <div class="imgarcaboutus"> <img src="image/arc aboutus.png" alt=""></div>
        <div class="joacontent">
            <div class="joa">
                <div class="jhead">Journey of Project Arc </div>
                <div class="line1"></div>
                <div class="jcontentdiv">
                    Our journey of Project ARC started with the idea of studying air quality and traffic density in
                    cities.
                    We
                    researched how pollution and traffic are connected and how technology can help in monitoring them.
                    Step
                    by
                    step, we collected data, analyzed results, and built our model with teamwork and dedication. Through
                    this
                    project, we learned how small efforts can create a big impact on society and the environment.
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer')  %>
    
    <script src="script1.js">
    </script>
</body>

</html>