.line {
    border: 0.1px solid #a9a9a9;
    margin-left: 74px;
    width: 905px;

}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 74px;
}

.t1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.t2 {
    font-size: 24px;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
}

.aboutusoutline {
    display: flex;
    flex-direction: column;
    gap: 39px;
    width: 925px;
    margin-top: 40px;
    margin-left: 74px;
    font-family: Arial, Helvetica, sans-serif;
}

.jhead {
    margin-left: 104px;
    padding: 20px;
    width: 400px;
    font-size: 26px;
}

.line1 {
    width: 490px;
    border: 0.1px solid grey;
}

.jcontentdiv {
    margin-top: 32px;
    width: 500px;
    text-align: center;
    font-size: 16px;
}

.aboutuscontent {
    padding: 54px;
    background-color: #f9f9f9;
}

.joacontent {
    padding: 60px;
    height: 300px;
}
.fontauto{
    font-family: initial;
}
.imgarcaboutus img{
    width:300px;
}

@media (max-width: 800px) {

  .navbar {
    height: auto; 
    padding: 15px;
  }

  .navbar.flex {
    flex-direction: column; 
    align-items: flex-start;
    gap: 15px;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
  }

  .searchbar {
    width: 100%;
  }
  
  .searchbar input {
      width: 90%;
  }

  .navbar button {
    width: 100%;
  }

  .footer.flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }

  .footername img {
    border-right: none;
    background-color: transparent;
    margin-bottom: 10px;
  }
  
  .footer ul {
      padding-left: 0;
  }
  
  .aboutuscontent {
    padding: 20px;
  }

  .title {
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .t1 {
      font-size: 26px;
  }
  .t2 {
      font-size: 20px;
  }

  .line {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutusoutline {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
    font-size: 15px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .imgarcaboutus img {
    width: 90%;
    max-width: 300px;
    height: auto;
    margin-top: 20px;
  }
  
  .joacontent {
    padding: 20px;
    height: auto;
    width: 90%;
    box-sizing: border-box;
  }

  .jhead {
    margin-left: 0;
    padding: 10px 0;
    width: 100%;
    font-size: 22px;
    text-align: center;
  }

  .line1 {
    width: 100%;
  }

  .jcontentdiv {
    margin-top: 20px;
    width: 100%;
    font-size: 15px;
  }
  
}