.blue{
    background-color: rgba(70, 150, 236, .1);
    height: 350px;
}
.container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: 700px;
    padding: 53px;
    position: relative;
    top: 122px;
    left: 253px;
    height: 400px;
}
.subclass{
    background-color: #4ba9ff;
    border-radius: 10px;
    padding: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.justify-start{
    justify-content: start;
}
.svggap{
    gap: 24px;
}
.flex_column{
    flex-direction: column;
    display: flex;
}
.archhead{
    font-weight: 700;
    font-size: 22px;
    margin-left: 12px;
}
.arch2{
    width: 200px;
    margin-left: 12px;
}
.gap3{
    gap: 5px;
}
.contactsecond{
    height:390px;
    background-color: #e5e7eb;
}
.upcontainer{
    text-align: center;
    position: relative;
    top: 67px;
    gap: 14px;
}

.upspan1{
    font-size: 40px;
}
.upspan2{
    font-size: 20px;
    color: grey;
}
.form1{
    padding: 28px;
}
.m7{
    margin: 7px
}
.ml7{
    margin-left:7px;
}

.mud7{
    margin: 11px 0px 7px 0px;
}
.ph_em{
    display: flex;
    gap: 22px;
}
.font-size18{
    font-size: 18px;
    color: grey;
}
.grey{
    color: grey;
}

input[type="text"] {
    border: none;                     /* remove all borders */
    border-bottom: 0.1px solid rgb(103, 117, 128);     /* add only bottom border */
    padding: 8px 0px;
    width: 175px;
    outline: none;                     /* remove focus outline */
  }

  input[type="text"]::placeholder {
    color: #999;                      /* style placeholder text */
  }

  input[type="text"]:focus {
    border-bottom-color: #007BFF;     /* highlight on focus */
  }

input[type="text"].inputwidth {
  width: 372px;
}

.pd57{
padding-bottom: 57px !important;
}
.sub{
    background-color: #4ba9ff;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
}
.noned{
    border: none !important;
    padding: 2px !important;
    width: 162px !important;
}